header {
    background-color: deepskyblue;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header .navbar ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

header nav {
    float: right;
}

.logo img {
    margin: 134px 1px 19px 6px;
    width: 100px;
    height: 50px;
}

header nav ul li a {
    text-decoration: none;
    padding-right: 0px;
    padding-top: -150px;
    color: white;
    transition: 0.5s ease;
}


/*  main part of property css */

.testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(../image/bg2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 120px;
    padding-bottom: 120px;
}

.testimonials .carousel-indicators {
    bottom: -60px;
}

.carousel-inner img {
    width: 290px;
    height: 290px;
}

.item {
    color: white;
}

.row h2,
.sub-heading p {
    color: white;
}

.row {
    margin: -126px 0px 0px 0px;
}

.testimonials .carousel-indicators li.active {
    background-color: deepskyblue;
}

.testimonials .carousel-indicators li {
    background-color: rgb(214, 194, 13);
}

.carousel-inner .item .img-size {
    margin: 10px;
    padding: 10px;
}

.row .col-sm-12 {
    margin: 0px 0px 28px 0px;
}

.item .centered {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 255, 221);
}

.item .top-right {
    position: absolute;
    top: 78%;
    left: 84%;
    transform: translate(-50%, -50%);
    color: rgb(0, 255, 221);
}

.item .bottom-left {
    position: absolute;
    top: 78%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: rgb(0, 255, 221);
}

.carousel a .left {
    padding: 10px 0px 0px 0px;
    margin: 10px 0px 0px 0px;
}

.sponsor-list {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), ; */
    background-size: cover;
    background-attachment: fixed;
    background-color: deepskyblue;
}

.footer h3 {
    text-align: center;
    color: deepskyblue;
}